{% extends "@App/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="alert-success">
            <span class="text-success"><i class="fa fa-success"></i> Votre contenu à été supprimé</span>
            <br>
            <a href="{{ path('home') }}" class="btn btn-info">Retour à la page d'accueil</a>
        </div>
    </div>
{% endblock %}